.first {
    color: blue;
    background-color: deeppink;
    padding: 15px;
}
.second {
    color: orange;
    background-color: aqua;
    padding: 15px;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
@media (max-width:1200px) {
    .container { 
        max-width: 970px;
    }
}
@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .container {
        max-width: none;
    }
}
footer {
margin: 0 auto;
position: center;
}
img {
    padding: 10px;
    margin: 20px 0 20px 0;
    border: 2px solid aquamarine;
}
div {
    margin: 5px 0 5px 0;
}